<div
    style="
        padding: 50px 30px;
        background-color: #181818;
        display: grid;
    "
>
    <h1 style="text-align: center; color: #fff">Olá, <%= username %></h1>
    <h2
        style="color: #038c73; gap: 20px; text-align: center; padding: 25px 0px"
    >
        Segue o link para redirecionar a página para recuperar a sua senha:
    </h2>
    <button
        style="
            width: 300px;
            height: 60px;
            border-radius: 10px;
            border-color: transparent;
            background-color: #038c73;
            color: #fff;
            cursor: pointer;
            justify-self: center;
            font-size: 20px;
            font-weight: 400;
        "
    >
        <a style="text-decoration: none; color: #fff;" href="<%= link %>">
            ALTERAR A SENHA
        </a>
    </button>
</div>
